@import "https://getratha.netlify.app/styles.css";
@import "./style/sidenavbar.css";
@import "./style/card.css";
@import "./style/header.css";
@import "./style/addnote.css";
@import "./style/pomodora.css";
@import "./style/login.css";

.App {
  font-family: sans-serif;
  text-align: center;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
